/* src/components/projects.css */
.projects-section {
    padding: 20px;
    background-color: #505050;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    text-align: center;
}

.projects-section h2 {
    font-size: 40px;
    color: rgb(255, 254, 252);
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-item {
    padding: 15px;
    border: 1px solid #505050;
    border-radius: 16px;
    width: 800px;
    background-color: #6e6e6e;
    text-align: center;
    transition: transform 0.3s;
    
}

.project-item a {
    text-decoration: none;
    color: inherit;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-image {
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.project-item h3 {
    font-size: 26px;
    color: rgb(255, 254, 252);
    margin: 10px 0;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.project-item p {
    font-size: 16px;
    color: rgb(255, 254, 252);
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


@media (max-width: 999px) {

    .project-item {
        padding: 15px;
        border: 1px solid #505050;
        border-radius: 8px;
        width: auto;
        background-color: #6e6e6e;
        text-align: center;
        transition: transform 0.3s;
    }

    .project-image {
        width: 250px;
        height: auto;
        border-radius: 5px;
    }

}