
.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 280px;
}


.contact-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #5f5f5f;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.form-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px; 
    color: #ffffff;        
}


.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


.textarea-field {
    height: 150px;
    resize: none;
}


.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.contact-form button:hover {
    background-color: #0056b3;
}
