body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  main {
    padding: 1rem;
  }




.navbar {
    display: block;
  }
  
  .hamburger-menu {
    display: none;
  }
  
#Github {
  display: flex;
  align-items: center;   
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px;
}

#Github img {
  margin-bottom: -13px;
}


  @media (max-width: 999px) {
    .navbar {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  }
